#sidebar {
    -fx-background-color: #292c33;
    -fx-pref-width: 140px;
    -fx-max-width: 140px;
}

#navItem {
    -fx-padding: 10px 20px;
}

#navItem Text {
    -fx-fill: #797F84;
    -fx-font-size: 16px;
}

#navItem-active {
    -fx-background-color: #222A31;
}

#navItem-active Text {
    -fx-fill: white;
}