#sidebar {
    -fx-background-color: #292c33;
    -fx-pref-width: 140px;
    -fx-max-width: 140px;
}

#navItem {
    -fx-padding: 10px 20px;
}

#navItem Text {
    -fx-fill: #797F84;
    -fx-font-size: 16px;
}

#navItem-active {
    -fx-background-color: #222A31;
}

#navItem-active Text {
    -fx-fill: white;
}

#usernameLabel {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#buttonRoster {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow( one-pass-box , grey , 8 , 0.0 , 2 , 0 );
    -fx-cursor: hand;
}

#buttonVakantie {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow( one-pass-box , grey , 8 , 0.0 , 2 , 0 );
    -fx-cursor: hand;
}

/*#rosterSpace {*/
/*    -fx-background-color: black;*/
/*}*/
